.train__subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto 64px;
  color: #fff;
  max-width: 640px;
}

@media screen and (max-width: 1024px) {
  .train__subtitle {
    margin: 0 auto 56px;
  }
}

@media screen and (max-width: 530px) {
  .train__subtitle {
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
    margin: 0 auto 40px;
  }
}