.baikal {
  position: relative;
  margin: 0 auto;
  max-width: 1184px;
  min-height: 740px;
  background-image: url("./../../images/background.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.baikal:hover .baikal__overlay {
  opacity: 0.8;
}

@media screen and (max-width:  1024px) {
  .baikal {
    min-height: 640px;
  }
}

@media screen and (max-width:  768px) {
  .baikal {
    min-height: 480px;
  }
}

@media screen and (max-width:  560px) {
  .baikal {
    min-height: 300px;
  }
}

@media screen and (max-width:  320px) {
  .baikal {
    min-height: 200px;
  }
}


