.places__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
}


@media screen and (max-width:  1023px) {
  .places__title {
    font-size: 42px;
    line-height: 46px;
    white-space: pre-line;
  }
}

@media screen and (max-width:  630px) {
  .places__title {
    font-size: 32px;
    line-height: 35px;
    white-space: normal;
    padding: 0 16px 0 16px;
  }
}