.places__text {
  margin: 0 auto 27px;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #fff;
}

.places__text:last-of-type {
  margin: 0;
}

@media screen and (max-width:  870px) {
  .places__text {
    max-width: 352px;
    font-size: 16px;
    margin: 0 0 25px;
  }
}

@media screen and (max-width:  630px) {
  .places__text {
    max-width: 440px;
  }
}

@media screen and (max-width:  320px) {
  .places__text {
    max-width: 288px;
  }
}