.footer__link {
  padding: 0;
  margin: 0;
  margin-right: 18px;
  transition: opacity .3s ease-out;
}

.footer__link:last-child {
  margin: 0;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 720px) {
  .footer__link {
    margin-bottom: 32px;
  }
}