.places__img {
  margin: 0;
  max-width: 460px;
}

@media screen and (max-width: 1024px) {
  .places__img {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .places__img {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .places__img {
    max-width: 100%;
  }
}