.footer__row {
  display: flex;
  justify-content: space-between;
  padding: 92px 0 24px;
  /*посмотреть на разрешении max-height: 18px;*/
}

@media screen and (max-width: 1024px) {
  .footer__row{
    padding: 92px 48px 24px;
  }
}

@media screen and (max-width: 768px) {
  .footer__row{
    padding: 88px 24px 24px;
  }
}

@media screen and (max-width: 720px) {
  .footer__row{
    flex-direction: column;
    padding: 64px 0 24px 0;
  }
}

