.places__url-link {
  align-self: end;
}

@media screen and (max-width:  1024px) {
  .places__url-link{
    max-width: 456px;
    padding: 0;
  }
}

@media screen and (max-width:  768px) {
  .places__url-link{
    max-width: 352px;
  }
}

@media screen and (max-width:  320px) {
  .places__url-link{
    max-width: 288px;
    padding: 0 16px 0 16px;
  }
}