.baikal__title {
  position: relative;
  text-align: center;
  padding-bottom: 32px;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
  text-decoration: none;
  margin: 0 auto;
  padding-top: 245px;
}

@media screen and (max-width: 1024px) {
  .baikal__title {
    padding-top: 195px;
  }
}

@media screen and (max-width: 768px) {
  .baikal__title {
    padding-top: 115px;
  }
}

@media screen and (max-width: 560px) {
  .baikal__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    padding-top: 33px;
    padding-bottom: 16px;
  }
}