.places__item {
  margin-bottom: 80px;
  display: grid;
  column-gap: 40px;
  row-gap: 48px;
  grid-template-columns: 460px minmax(min-content,max-content);
}

.places__item:last-of-type {
  margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .places__item {
    grid-template-columns: calc(100% - 488px) 1fr; /*calc(100% - 473px)*/
    column-gap: 32px;
  }
}

@media screen and (max-width: 806px) {
  .places__item {
  grid-template-columns: calc(100% - 380px) 1fr; /*340px minmax(min-content,max-content);*/
  column-gap: 28px;
  margin-bottom: 73px;
  }
  .places__item:last-of-type {
  margin-bottom: 90px;
  }
}

@media screen and (max-width: 650px) {
  .places__item {
    justify-content: center;
    row-gap: 32px;
    margin-bottom: 50px;
    grid-template-columns: minmax(min-content,max-content);
  }
  .places__item:last-of-type {
  margin-bottom: 66px;
  }
}

@media screen and (max-width: 320px) {
  .places__item:nth-child(4) .places__texts {
    max-width: 283px;
  }
}

